-webkit-background-clip: text;
*{
    
    margin: 0px;
    padding: 0px;
}
/* h1 {
    color: rebeccapurple;
}

.game {
    color: brown;
}
 */
/* a {color: red;}
 ul {margin-left: 0px;color: aquamarine;}
 .rer {
     color: blue;
 } */
/* #container > ul {
    border: 1px solid black;
  } */
