body {
    width: 1280px;
}

.navbar {
    text-align: center;
    margin: 25px 10px;

}

a {
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    letter-spacing: 2.7px;

}

a:hover {
    color: aquamarine;
}

h2 {
    margin: 49px;
    text-align: center;
    font-size: 22px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-style: normal;
    color: #373737;
}

.get-btn {
    margin: 66px;
    text-align: center;
}

.b1 {
    width: 191px;
    height: 51px;
    color: white;
    font-size: 12px;
    background: #FF0000;
    border-radius: 4px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.b1:hover {
    background: #88c822;
}

.b1:active {
    background: rgb(0, 255, 200);
}

.footer {
    height: 39px;
    margin-right: 105px;
    font-size: 16px;
    letter-spacing: 2.4px;
    text-align: right
}